---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I’m a software engineering student at "Escuela Politécnica Nacional", passionate about software development. This passion has driven me to study and apply technological concepts, developing key skills through academic and personal projects. I consider myself a sincere and straightforward person, qualities that enable me to face and overcome challenges, learning from each experience to continuously improve in the field of technology.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Software Engineering"
      subtitle="2020 - Present, Escuela Politécnica Nacional, Quito, Ecuador"
    />
    <TimeLineElement
      title="Bachillerato in Computer Science"
      subtitle="2017 - 2020, U.E. Jacinto Collahuazo, Otavalo, Ecuador"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Computer Room Managment"
      subtitle="September, 2024 at Escuela de EGB Modesto A. Peñaherrera, Cotacachi, Ecuador"
    >
    Internship in a computer lab, performing preventive and corrective maintenance on computers, analyzing the implementation of a LAN network, and conducting an informative workshop on innovative artificial intelligence tools applied in education.
    </TimeLineElement>
    <!-- <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificates</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a>Instituto Eurpeo de Posgrado Transformación Digital</a>
    </li>
    <li>
      <a>CertiProf SCRUM Foundation Profesional Certification</a>
    </li>
    <li>
      <a>AWS AWS Security Fundamentals</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JAVA</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>SQL</li>
    <li>PHP</li>
    <li>React</li>
    <li>Astro</li>
  </ul>
</BaseLayout>
