---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jonathan L. Salazar</div>
    <div class="text-3xl py-3 font-bold">Software Engineer Student</div>
    <div class="py-2">
      <text class="text-lg">
        Hello! I'm Jonathan, a passionate and driven Software Engineering student dedicated to solving real-world problems through innovative technology. This portfolio showcases my journey, skills, and projects that highlight my growth in the tech industry.
        <br>
        Explore my projects, discover my expertise, and join me in creating solutions that make a difference. Let’s shape the future together, one line of code at a time!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:jonathan282salazar@gmail.com" target="_blank"> Let's connect!</a>
      <a href="/cv" target="_self" class="btn btn-outline ml-5">
        About me
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Main Projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Mi Chaucherita"
    icon="fas fa-coins"
    desc="Personal financial accounting software that allows users to manage their accounts and track their financial transactions in detail."
    url="https://github.com/jluSalazar/Mi-Chaucherita.git"
    badge="Finished"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Tic Tac Toe"
    icon="fa-solid fa-puzzle-piece"
    desc="Desktop Videogame developed with Python. The player play against the IA, wich one is using MiniMax Algorithm."
    url="https://github.com/jluSalazar/TicTacToe.git"
    badge="Finished"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Yoga WebApp"
    icon="fa-solid fa-person-running"
    desc="Software that allows users to explore and learn about various yoga postures giving a detailed guide about how should it be done."
    url="https://github.com/Ketif2/Api-yoga.git"
    badge="Finished"
  />
<!-- 
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
